.booking-calendar {
    margin: 20px 0px 20px 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 100px;
    align-items: center;
    flex-direction: column;
}

table {
    border-collapse: collapse;
}

td, th {
    border-bottom: 1px solid #0000002f;
}

tr:last-child td {
    border-bottom: none;
}

th {
    width: 100px;
    height: 56px;
    font-size: 14px;
}

td {
    width: 100px;
    height: 52px;
    font-size: 14px;
    text-align: center;
}

.book-now-button{
    margin-top: auto; /* Push the button to the bottom */
    display: flex;
    justify-content: flex-end;
    padding: 10px; /* Add padding for spacing */
    margin-left: auto;
    margin-right: 0;
}

.book-now-button button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
  
.book-now-button button:hover {
    background-color: #0056b3;
}