.booking-calendar {
    margin: 20px 0px 20px 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 100px;
    align-items: center;
    flex-direction: column;
}
  
table {
    width: 80%;
    border-collapse: collapse;
}
  
th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    width: 100px; /* Set a fixed width for each cell */
    height: 20px; /* Set a fixed height for each cell */
}
  
/* Add styling to the first column (time column) */
    th:first-child, td:first-child {
    background-color: #f2f2f2;
    font-weight: bold;
}

.book-now-button{
    margin-top: auto; /* Push the button to the bottom */
    display: flex;
    justify-content: flex-end;
    padding: 10px; /* Add padding for spacing */
    margin-left: auto;
    margin-right: 0;
}

.book-now-button button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
  
.book-now-button button:hover {
    background-color: #0056b3;
}