.text-wrapper-5 {
    align-items: center;
    text-align: center;
    color: #000000;
    display: block;
    margin: auto;
    font-family: "Archivo-Bold", Helvetica;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    white-space: nowrap;
    padding-top: 40px;
}