 .text-wrapper-4 {
    align-items: center;
    text-align: center;
    display: block;
    color: #000000;
    font-family: "Archivo-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    margin: auto;
    padding-top: 10px;
}
  
   .group {
    height: 202px;
    position: relative;
    margin-top: 52px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    display: flex;
    gap: 20px;
  }
  
   .gym {
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 427px;
  }
  
   .rectangle {
    align-self: stretch;
    height: 160px;
    position: relative;
    width: 427px;
  }
  
   .parking-lot {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 0;
    width: 427px;
  }
  
   .classroom {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 0;
    width: 427px;
  }
  
  .rectangle-2 {
    align-self: stretch;
    height: 160px;
    object-fit: cover;
    position: relative;
    width: 427px;
  }

  .button-choice {
    color: #FFFFFF;
    background-color: #1976D2;
    border-width: 0;
    height: 42px;
    width: 100%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    cursor: pointer;
    background: linear-gradient(#1976D2, rgb(17 82 147/100%)) top/100% 800%;
    transition: 0.5s;
  }

  .button-choice:hover {
    background-position: bottom;
  }

.top-section {
    flex-direction: row;
    align-items: flex-start;
}
  
.back-button {
    border-width: 0px;
    background-color: white;
    cursor: pointer;
    position: absolute;
    top: 80px;
    left: 80px;
}

.back {
    width: 88px;
    height: 42px;
}